<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who Am I?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there! My name is Kevin. I started my professional career working in banking, with a strong passion for residential & commercial realestate investment.
          Looking for my next challenge, I pivoted into management consulting, where I help private & ASX listed companies optimize their supply chain performance, technology and data strategy.</p>
      </div>
      <div class="col-lg-4">
        <p>Throughout my experiences working on retail, FMCG, PE, procurement & transformation projects, I've developed a deep interest in analytics, data engineering and solutions architecture.
            This portfolio is a collection of my works and a showcase of my technical skills to date. Enjoy! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
